extends layout
block content
	#animation
		div.left-right
			div.left
				img.content-type(src='/images/bottleopener.svg')
			div.right
				div.arrow.up
					img(src='/images/arrows.svg')
				div.arrow.up.delayOne
					img(src='/images/arrows.svg')
				div.arrow.up.delayTwo
					img(src='/images/arrows.svg')
				div.arrow.up.delayThree
					img(src='/images/arrows.svg')
				div.arrow.down
					img(src='/images/arrows.svg')
				div.arrow.down.delayOne
					img(src='/images/arrows.svg')
				div.arrow.down.delayTwo
					img(src='/images/arrows.svg')
				div.arrow.down.delayThree
					img(src='/images/arrows.svg')

