extends layout
block content
	div.container
		#logo
			img(src="/images/firefox.png")
		form#loginformA(action='swag_submit', method='post')
			div.form-group
				label(for='email') EMAIL
				input#email(type='email', name='email')
			div.form-group
				label(for='email') FIRST
				input#email(type='text', name='email')
			div.form-group
				label(for='email') LAST
				input#email(type='text', name='email')
			div.form-group
				label(for='email') PASSWORD
				input#email(type='password', name='email')
			button SUBMIT