extends layout
block content
	#modal
		div
			div.x.close-modal X
			div.content Are you sure?
				div.select
					div#swag-ticket-submit yes
					div.close-modal no
	#ticket-return
		ul
			li.tier-1
				img(src='/images/category1.svg')
			li.tier-2
				img(src='/images/category2.svg')
			li.tier-3
				img(src='/images/category3.svg')
			li.tier-4
				img(src='/images/category4.svg')
		select.tier-1
			each item in tier1
				option= item
		select.tier-2
			each item in tier2
				option= item
		select.tier-3
			each item in tier3
				option= item
		select.tier-4
			each item in tier4
				option= item
		button SUBMIT
		form(action='/swag_ticket_submit',method='post')
			input(name='item',type='hidden')
