extends layout
block content
	#modal
		div
			div.x.close-modal X
			div.content Are you sure about the type 
				span
				| ?
				div.select
					div#swag-types-submit yes
					div.close-modal no
	ul#swag-types
		li.accessories(data-type='accessories')
			div
				div Accessories
		li.apparel(data-type='apparel')
			div
				div Apparel
		li.electronics(data-type='electronics')
			div
				div Electronics
		li.homegoods(data-type='home goods')
			div
				div Home Goods
		li.office(data-type='office supplies')
			div
				div Office Supplies
		li.recreation(data-type='recreation')
			div
				div Recreation
		button SUBMIT
	form(action='/swag_types_submit',method='post')
		input(name='categories',type='hidden')
