extends layout
block content
	div.container
		#logo
			img(src="/images/swagexchangelogo.svg")
		form#loginformA(action='swag_submit', method='post')
			div.form-group
				label(for='first') FIRST
				input#first(type='text', name='first', required)
			div.form-group
				label(for='last') LAST
				input#last(type='text', name='last', required)
			div.form-group
				label(for='email') EMAIL
				input#email(type='email', name='email', required)
			div.form-group
				label(for='username') USERNAME
				input#username(type='text', name='username', required)
			div.form-group
				.checkbox
					input#agree(type='checkbox', name='agree', required)
					label(for='agree')
				label.checkbox-label(for='email') I AGREE TO 
					a(href='/terms') **ABB TERMS** 
			button SUBMIT
		//- <div class="slideThree">  
		//-   <input type="checkbox" value="None" id="slideThree" name="check" checked />
		//-   <label for="slideThree"></label>
				//- label(for='email') AGREE TO THE TERMS
		//- </div>
			