extends layout
block content
	ul#swag-types
		li 
			div 
				div Accessories
		li 
			div 
				div Apparel
		li 
			div 
				div Electronics
		li 
			div 
				div Home Goods
		li 
			div 
				div Office Supplies
		li 
			div 
				div Recreation