@include font-face('cubano', '/fonts/Cubano-Regular');

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
  color: $black;
  letter-spacing: 0.2rem;
}

body {
	@include display(flex);
  font-family: 'cubano';
  line-height: 1.5;
  letter-spacing: 0.07em;
}
html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */

h1 { font-size: 4.0rem; line-height: 1.2;}
h2 { font-size: 3.6rem; line-height: 1.25;  }
h3 { font-size: 3.0rem; line-height: 1.3;   }
h4 { font-size: 2.4rem; line-height: 1.35;  }
h5 { font-size: 1.8rem; line-height: 1.5;   }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 0.07em;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
	display: block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#mount-point {
  height:100%;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.blurring {
  -webkit-filter: blur(5px);
}

#final {
  img {
    width: 100%;
  }
}
.left-right{
  @include display(flex);
  @include align-items(center);
  > div {
    @include flex-grow(1);
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }  
}

.container {
  box-sizing: border-box;
  border: 50px solid transparent;
  width: 100%;
}
a {
  text-decoration: none;
  color: $black;
  border-bottom: 4px solid $black;
}

img {
  display: block;
}

#logo {
  img {
    margin: 0px auto;  
    width: 200px;
  }
  
}
.checkbox-label {
  display: inline-block;
  margin-left: 15px;
}
.checkbox {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border: $black 4px solid;
  display: inline-block;
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $black;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }   
  } 
}

.return {
  font-size: 5rem;
  text-align: center;
  height: 100vh;
  padding: 30px;
  @include flex-grow(1);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  a {
    border: none
  }
}

#terms {

}
#terms-back {
  margin-bottom: 20px;
}

#swag-types {
  box-sizing: border-box;
  border: 25px solid transparent;
  @include display(flex);
  @include flex-wrap(wrap);
  width: 100%;
  font-size: 3rem;
  text-transform: uppercase;
  li {
    cursor: pointer;
    @include flex-grow(1);
    width: 50%;
    box-sizing: border-box;
    border: 25px solid white;
    color: white;
    display: block;
    @include display(flex);
      @include align-items(stretch);
    > div {
      display: block;
      background-color: $black;
      box-sizing: border-box;
      border: 25px solid transparent;
      @include flex-grow(1);
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      width: 100%;
    }
  }
}

#ticket-return {
  box-sizing: border-box;
  border: 25px solid transparent;
  ul {
    @include display(flex);
    @include flex-wrap(wrap);
    li {
      opacity: 0.4;
      box-sizing: border-box;
      border: 25px solid transparent;
      width: 50%;
      @include transition(all 0.2s ease-in-out);
      &.selected {
        opacity: 1;
      }
    }
    img {
      width: 100%;
    }
  }
  select {
    margin: 50px auto;
     border: 4px solid $black;
     border-radius: 0px;
     font-size: 14px;
     height: 60px;
     padding: 20px; /* If you add too much padding here, the options won't show in IE */
     width: 300px;
  }
  button {
    margin-top: 0px;
    margin-bottom: 100px;
  }
}

@include keyframes(slideUp) {
  0%, {
    @include transform(translateY(100%));
  }
  100% {
    @include transform(translateY(-50%));
  }
}

@include keyframes(slideDown) {
  0%, {
    @include transform(translateY(-50%));
  }
  100% {
    @include transform(translateY(100%));
  }
}

#animation {
  width: 100%;
  background-color: #AFD136;
}
.left-right {
  width: 100%;
  > div {
    height: 100vh;
    width: 50%;
    @include flex-grow(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }
  .left {
      box-sizing: border-box;
      border-top: 100px solid transparent;
      border-bottom: 100px solid transparent;
      padding: 100px 0px;
    img {

    max-width:50%;
    max-height:100%;
    height: auto;
    width:50%;

    }
  }
  .right {
    position: relative;

    > div {
      @include animation-duration(2s);
      @include animation-timing-function(linear);
      @include animation-iteration-count(infinite);
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      &.show {
        opacity: 1;
      }
      &.up {
        @include animation-name(slideUp, slide);
      }
      &.down {
        @include animation-name(slideDown, slide);  
        img {
          @include transform(rotate(180deg));
        }
      }
      &.delayOne {
        @include animation-delay(0.5s);
      }
      &.delayTwo {
        @include animation-delay(1s);
      }
      &.delayThree {
        @include animation-delay(1.5s);
      }
    }
    img {
      position: absolute;
      width: 30%;
      top:0%;
      left: -10px;
    }

  }
}

#modal {
  position: fixed;
  background-color: $black;
  height: 100%;
  width: 100%;
  top:0px;
  display: none;
  color: white;
  z-index: 1;
  .x {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 3rem;
  }
  > div {
    @include flex-grow(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
  }
  .content {
    text-align: center;
    font-size: 2rem;
    .select {
      @include display(flex);
      font-size: 4rem;
      div {
        cursor: pointer;
        width: 50%;
      }
    }
  }
}
